/*!
 * Flowplayer HTML5 quality selector plugin
 *
 * Copyright (c) 2016, Flowplayer Oy
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * revision: $GIT_ID$
 */
.flowplayer
  .fp-quality-selector
    transition 0.2s ease-in
    -moz-box-sizing border-box
    box-sizing border-box
    position absolute
    right 10px
    bottom 40px
    width 0px
    overflow hidden
    font-weight bold

    li
      display block
      list-style none
      background-color #333
      background-color rgba(#333, 0.6)
      margin 2px
      padding 4px
      border-radius 2px
      font-size 80%
      color #fff
      text-shadow 0px 0px 2px #000
      overflow hidden
      text-align center

      &.active
        background-color #00a7c8
        background-color rgba(#00a7c8, 0.6)
        cursor default
        &:hover
          background-color #00a7c8
          background-color rgba(#00a7c8, 0.6)
      &:hover
        background-color #444
        background-color rgba(#333, 0.8)
  &.is-mouseover
    .fp-quality-selector
      width 5em
  &.is-finished, &.is-disabled
    .fp-quality-selector
      width 0px

.flowplayer.fixed-controls
  .fp-quality-selector
    bottom 10px
